{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">説明</h2>
        
        <h4 >目的</h3>
            <p>このMath Upはわからない数学の問題を気軽に質問し、お互いに教えあうことを目的として作成しました。また、わからない問題と似た問題をジャンルから探せるようにしました。</p>
            <p>質問の仕方としては、わからない問題を画像として載せることも可能ですが、文字を打って質問をすることも可能です。また、その時数式は$で数式を囲うことで綺麗な数式で表現してくれます。この時に用いたのはLatexを用いたのでLatexによる数式の表し方を参考にしてください。例えば2の3乗を表現したいときは$2^{3}$としてください。そのようにすると<nobr><img src="http://latex.codecogs.com/gif.latex?2^{3}" title="2^{3}" /></nobr>と表現します。</p>
            <p>これにより分数、累乗、ネイピア数などを綺麗に表現をしてくれます。</p>
            <p>また、最後にカテゴリーを選択することで見てもらいたい数学の範囲に分類されます。</p>
            

    </div>
</div>

{% endblock %}