{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">利用規約</h2>
        
        <p>ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。</p>
        <p>ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。運営は，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。</p>
        <p>ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は一切の責任を負わないものとします。</p> 

    </div>
</div>

{% endblock %}